@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-styles/typography";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/font-awesome-icons";

:host {
  display: block;
  display: flex;
  flex-direction: column;
  #searchbar {
    width: 100%;
  }
  #tasknavigation {
    width: 100%;
  }
  #taskview {
    flex: 1;
    overflow: auto;
    .border;
    border-top: 0;
  }
  #searching {
    .border;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  #tasklist {
    .border;
    border-top: 0;
  }
  glg-task-preview {
    .bottom-border;
  }
  glg-task[filtered] {
    display: none;
  }
  ui-button{
    icon{
      padding-left: 1px;
      padding-right: 1px;
    }
  }
  #tasklist {
    overflow: auto;
    flex: 1;
    .border;
    border-top: none;
  }
}
