@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
:host {
  display: block;
  position: relative;
  .full;
  #tasknavigation {
    width: 100%;
  }
  #taskview {
    flex: 1;
  }
}
